<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../assets/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../view/css/style.css">
    <title>Shopping Cart</title>
</head>
<body>
	<div class="container">
		<!-- .row>ul>li.rowset*6>ul>li.item*3(img+.info((p>strong>)+(p>strong>({Price: }+span>))+(p>strong>({Quantity: }+span>)))) -->
		<!-- #products.col-xs-6.col-sm-4*3>.items*6((a.item>(img))+.info((p>strong>)+(p>strong>({Price: }+span>))+(p>strong>({Quantity: }+span>)))) -->
		<div class="row">
			<div class="col-xs-12 col-md-9 col-sm-9 row" role="main">
				<div id="products" class="col-xs-4 col-sm-3">
					<div class="items">
						<a href="#" class="item" id="iPod_nano_red"><img src="../view/img/128/1408082377_iPod_nano_red.png" alt="">
							<div class="info">
								<p><strong>iPod Nano Red</strong></p>
								<p><strong>Price: </strong>$<span>149.00</span></p>
								<p><strong>Quantity: </strong><span>20</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="iPod_nano_gray"><img src="../view/img/128/1408082341_iPod_nano_gray.png" alt="">
							<div class="info">
								<p><strong>iPod Nano Gray</strong></p>
								<p><strong>Price: </strong>$<span>149.00</span></p>
								<p><strong>Quantity: </strong><span>35</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="iPod_nano_purple"><img src="../view/img/128/1408081776_iPod_nano_purple.png" alt="">
							<div class="info">
								<p><strong>iPod Nano Purple</strong></p>
								<p><strong>Price: </strong>$<span>149.00</span></p>
								<p><strong>Quantity: </strong><span>25</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="iPod_nano_orange"><img src="../view/img/128/1408082348_iPod_nano_orange.png" alt="">
							<div class="info">
								<p><strong>iPod Nano Orange</strong></p>
								<p><strong>Price: </strong>$<span>149.00</span></p>
								<p><strong>Quantity: </strong><span>30</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="iPod_nano_blue"><img src="../view/img/128/1408082355_iPod_nano_blue.png" alt="">
							<div class="info">
								<p><strong>iPod Nano Blue</strong></p>
								<p><strong>Price: </strong>$<span>149.00</span></p>
								<p><strong>Quantity: </strong><span>25</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="iPod_nano_magenta"><img src="../view/img/128/1408082357_iPod_nano_magenta.png" alt="">
							<div class="info">
								<p><strong>iPod Nano Magenta</strong></p>
								<p><strong>Price: </strong>$<span>149.00</span></p>
								<p><strong>Quantity: </strong><span>25</span></p>
							</div>
						</a>
					</div>
				</div>
				<div id="products" class="col-xs-4 col-sm-3">
					<div class="items">
						<a href="#" class="item" id="iPod_nano_white"><img src="../view/img/128/1408082362_iPod_nano_white.png" alt="">
							<div class="info">
								<p><strong>iPod Nano White</strong></p>
								<p><strong>Price: </strong>$<span>149.00</span></p>
								<p><strong>Quantity: </strong><span>20</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="iPod_nano_green"><img src="../view/img/128/1408082364_iPod_nano_green.png" alt="">
							<div class="info">
								<p><strong>iPod Nano Green</strong></p>
								<p><strong>Price: </strong>$<span>149.00</span></p>
								<p><strong>Quantity: </strong><span>35</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="apple_inc"><img src="../view/img/128/1408081735_Apple_inc.png" alt="">
							<div class="info">
								<p><strong>Apple Sticker</strong></p>
								<p><strong>Price: </strong>$<span>1.00</span></p>
								<p><strong>Quantity: </strong><span>1000</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="mac_mini"><img src="../view/img/128/1408082350_Macmini.png" alt="">
							<div class="info">
							<p><strong>Mac Mini</strong></p>
							<p><strong>Price: </strong>$<span>699.00</span></p>
							<p><strong>Quantity: </strong><span>35</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="iMac"><img src="../view/img/128/1408082353_iMac.png" alt="">
							<div class="info">
								<p><strong>iMac</strong></p>
								<p><strong>Price: </strong>$<span>1799.00</span></p>
								<p><strong>Quantity: </strong><span>80</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="mac_book"><img src="../view/img/128/1408082370_Macbook.png" alt="">
							<div class="info">
								<p><strong>Macbook</strong></p>
								<p><strong>Price: </strong>$<span>1399.00</span></p>
								<p><strong>Quantity: </strong><span>40</span></p>
							</div>
						</a>
					</div>
				</div>
				<div id="products" class="col-xs-4 col-sm-3">
					<div class="items">
						<a href="#" class="item" id="iPhone_front_black"><img src="../view/img/128/1408082338_iPhone_front_black.png" alt="">
							<div class="info">
								<p><strong>iPhone Black</strong></p>
								<p><strong>Price: </strong>$<span>299.00</span></p>
								<p><strong>Quantity: </strong><span></span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="iPhone_retro_white"><img src="../view/img/128/1408082366_iPhone_retro_white.png" alt="">
							<div class="info">
								<p><strong>Retro iPhone White</strong></p>
								<p><strong>Price: </strong>$<span>99.00</span></p>
								<p><strong>Quantity: </strong><span>45</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="iPhone_retro_black"><img src="../view/img/128/1408082375_iPhone_retro_black.png" alt="">
							<div class="info">
								<p><strong>Retro iPhone Black</strong></p>
								<p><strong>Price: </strong>$<span>99.00</span></p>
								<p><strong>Quantity: </strong><span>45</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="iPhone_front_white"><img src="../view/img/128/1408081770_iPhone_front_white.png" alt="">
							<div class="info">
								<p><strong>iPhone White</strong></p>
								<p><strong>Price: </strong>$<span>299.00</span></p>
								<p><strong>Quantity: </strong><span>35</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="apple_tv"><img src="../view/img/128/1408082374_AppleTV.png" alt="">
							<div class="info">
								<p><strong>Apple TV</strong></p>
								<p><strong>Price: </strong>$<span>99.00</span></p>
								<p><strong>Quantity: </strong><span>50</span></p>
							</div>
						</a>
					</div>
					<div class="items">
						<a href="#" class="item" id="cinema_mac"><img src="../view/img/128/1408082368_CinemaMac.png" alt="">
							<div class="info">
								<p><strong>CineMac</strong></p>
								<p><strong>Price: </strong>$<span>1199.00</span></p>
								<p><strong>Quantity: </strong><span>100</span></p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="container-fluid col-xs-6 col-sm-3" id="shoppingcart">
				<div class="affix" role="complementary" id="cart">
					<h1>Shopping Cart</h1>
					<ul id="cartlist"></ul>
					<p id="total"><strong>Total: </strong>$<span>0.00</span></p>
					<h2>Drop here to add to cart!</h2>
				</div>
			</div>
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="../controller/jquery.ndd.js"></script>
	<script src="../controller/draggable.js"></script>
</body>			
</html>
